
{% include "header.html" %}

<!-- script to switch beeteen steps -->
<script type="text/javascript">
$(document).ready(function() {
  var v = $("#bookinputform");
  console.log( "ready!" );
  console.log(  );
  // Binding next button on first step
  $(".open1").click(function() {

        $(".frm").hide("fast");
        $("#sf2").show("slow");

   });

   // Binding next button on second step
   $(".open2").click(function() {

        $(".frm").hide("fast");
        $("#sf3").show("slow");

    });

     // Binding back button on second step
    $(".back2").click(function() {
      $(".frm").hide("fast");
      $("#sf1").show("slow");
    });

     // Binding back button on third step
     $(".back3").click(function() {
      $(".frm").hide("fast");
      $("#sf2").show("slow");
    });

    $(".open3").click(function() {

        // optional
        // used delay form submission for a seccond and show a loader image
        $("#loader").show();
         setTimeout(function(){
           $("#basicform").html('<h2>Thanks for your time.</h2>');
         }, 1000);
        // Remove this if you are not using ajax method for submitting values
        return false;

    });
});
</script>

<!-- script to add more input fields -->
<script>
$(document).ready(function() {

    var  bookIndex = 0;

    $('#bookform')
        // Add button click handler
        .on('click', '.addButton', function() {
            bookIndex++;
            var $template = $('#compositionTemplate'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
                                .attr('data-book-index', bookIndex)
                                .insertBefore($template);

            // Update the name attributes
            $clone
                .find('[name="aname"]').removeAttr('disabled').attr('name', 'cmp[' + bookIndex + '].aname').end()
                .find('[name="cname"]').removeAttr('disabled').attr('name', 'cmp[' + bookIndex + '].cname').end()
                .find('[name="ctranslator"]').removeAttr('disabled').attr('name', 'cmp[' + bookIndex + '].ctranslator').end()
                .find('[name="cgenre"]').removeAttr('disabled').attr('name', 'cmp[' + bookIndex + '].cgenre').end();
        })

        // Remove button click handler
        .on('click', '.removeButton', function() {
            var $row  = $(this).parents('.dynform');
            // Remove element containing the fields
            $row.remove();
        });
});
</script>

<div class="container">

      <div class="row">
        <!-- Меню -->
        <div class="col-lg-2 border" >
            <ul class="list-group">
              <li class="list-group-item">Категории</li>
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Худ. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Тех. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Детская</a></li>
                  <li class="list-group-item"><a href="#">Учебники</a></li>
                </ul>
              </ul>
          </div>

          <!-- Результат -->
          <div class="col-lg-10">
            <div class="row">
              <form  class="form-horizontal" id="bookform" method="POST" >
                <div id="sf1" class="frm">
                  <fieldset>
                    <legend>Шаг 1 из ?: Книга</legend>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="bname">Название книги</label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="Незнайка на луне" id="bname" name="bname" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="bisbn">ISBN книги</label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="NHS-928-YTR" id="bisbn" name="bisbn" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="byear">Год издания</label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="2017" id="byear" name="byear" class="form-control" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="beditor">Редактор</label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="2017" id="beditor" name="beditor" class="form-control" autocomplete="off">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <!-- open1 is given in the class that is binded with the click event -->
                        <button class="btn btn-primary open1" type="button">Next <span class="fa fa-arrow-right"></span></button>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div id="sf2" class="frm" style="display: none;">
                  <fieldset>
                    <legend>Шаг 2 из ?: Издатель</legend>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="pname">Издатель </label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="Питер" id="pname" name="pname" class="form-control" autocomplete="off">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="purl">Сайт </label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="www.piter.ru" id="purl" name="purl" class="form-control" autocomplete="off">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="pcity">Город </label>
                      <div class="col-lg-6">
                        <input type="text" placeholder="Москва" id="pcity" name="pcity" class="form-control" autocomplete="off">
                      </div>
                    </div>

                    <div class="clearfix" style="height: 10px;clear: both;"></div>

                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <!-- back2 unique class name  -->
                        <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                        <!-- open2 unique class name -->
                        <button class="btn btn-primary open2" type="button">Next <span class="fa fa-arrow-right"></span></button>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div id="sf3" class="frm" style="display: none;">
                  <fieldset>
                    <legend>Шаг 3 из ?: Содержание</legend>

                    <div class="well">
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="aname">Автор Ф.И.О </label>
                        <div class="col-lg-6">
                          <input type="text" placeholder="Анджей сапковский" name="cmp[0].aname" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="composition">Произведение </label>
                        <div class="col-lg-6">
                          <input type="text" placeholder="Ведьмак: башня ласточки" name="cmp[0].cname" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="ctranslator">Переводчик </label>
                        <div class="col-lg-6">
                          <input type="text" placeholder="А.В. Переводчик" name="cmp[0].ctranslator" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="cgenre">Жанр </label>
                        <div class="col-lg-6">
                          <input type="text" placeholder="Фэнтази" name="cmp[0].cgenre" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="clearfix" style="height: 10px;clear: both;"></div>
                    </div>

                      <!-- hidden form form for book with more then one composition -->
                      <div class="well hide dynform" id="compositionTemplate">

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="aname">Автор Ф.И.О </label>
                        <div class="col-lg-6">
                          <input disabled="disabled" type="text" placeholder="Анджей сапковский" name="aname" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="composition">Произведение </label>
                        <div class="col-lg-6">
                          <input disabled="disabled" type="text" placeholder="Ведьмак: башня ласточки" name="cname" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="ctranslator">Переводчик </label>
                        <div class="col-lg-6">
                          <input disabled="disabled" type="text" placeholder="А.В. Переводчик" name="ctranslator" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="cgenre">Жанр </label>
                        <div class="col-lg-6">
                          <input disabled="disabled" type="text" placeholder="Фэнтази" name="cgenre" class="form-control" autocomplete="off">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-2">
                          <button type="button" class="btn btn-default removeButton"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                      </div>

                        <div class="clearfix" style="height: 10px;clear: both;"></div>
                    </div>
                        <!-- end of hiddenform -->

                      <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                          <!-- back2 unique class name  -->
                          <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                          <div class="col-xs-4">
                            <button type="button" class="btn btn-default addButton"><i class="glyphicon glyphicon-plus"></i></button>
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>
                  </fieldset>
                </div>

              </form>
            </div>
          </div>

      </div>


</div>

{% include "footer.html" %}
