
{% include "header.html" %}

<div class="container">

      <div class="row">
        <!-- Меню -->
        <div class="col-lg-2 border" >
            <ul class="list-group">
              <li class="list-group-item">Категории</li>
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Худ. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Тех. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Детская</a></li>
                  <li class="list-group-item"><a href="#">Учебники</a></li>
                </ul>
              </ul>
          </div>

          <!-- Результат -->
          <div class="col-lg-10">
            <!-- картинка + общая информация -->
            <div class="row">
              <div class="col-lg-5">

              </div>

              <div class="col-lg-5">
                <p>Фамилия: {{author.surname}}</p>
                <p>Имя: {{author.name}}</p>
              </div>
            </div>

            <!-- содержание + аннотоция -->
            <div class="row table-responsive">
              <table class="table table-bordered">
                <tr>
                  <td>№</td>
                  <td>Название</td>
                  <td>Автор</td>
                  <td>Жанр</td>
                </tr>
                <!-- {# for cmp in book.composition #}
                <tr>

                </tr>
                {# endfor #}
                -->
              </table>
            </div>
          </div>

      </div>


</div>

{% include "footer.html" %}
