
{% include "header.html" %}

<div class="container">

      <div class="row">
        <!-- Меню -->
        <div class="col-lg-2 border" >
            <ul class="list-group">
              <li class="list-group-item">Категории</li>
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Худ. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Тех. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Детская</a></li>
                  <li class="list-group-item"><a href="#">Учебники</a></li>
                </ul>
              </ul>
          </div>

          <!-- Результат -->
          <div class="col-lg-10">
            <!-- картинка + общая информация -->
            <div class="row">
              <div class="col-lg-5">

              </div>

              <div class="col-lg-5">
                <p>Название: {{book.name}}</p>
                <p>ISBN: {{book.isbn}}</p>
                <p>Год издания: {{book.year}}</p>
                {% if book.editor is callable %}
                <p>Редактор: {{book.editor[0].surname}} {{book.editor[0].name}}</p>
                {% else %}
                <p>Редактор: "" ""</p>
                {% endif %}
                <p>Издатель: {{book.publisher[0].name}}</p>
                <ul>
                  <li>Город: {{book.publisher[0].city}}</li>
                  <li>Сайт: {{book.publisher[0].url}}</li>
                </ul>
              </div>
            </div>

            <!-- содержание + аннотоция -->
            <div class="row table-responsive">
              <table class="table table-bordered">
                <tr>
                  <td>№</td>
                  <td>Название</td>
                  <td>Автор</td>
                  <td>Переводчик</td>
                  <td>Жанр</td>
                </tr>
                {% for cmp in book.composition %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{cmp.name}}</td>
                  <td><a href="/author/info?author_id={{cmp.author[0].id}}">{{cmp.author[0].surname}} {{cmp.author[0].name}}</a></td>
                  <td>{% if cmp.translator[0] is defined %}{{cmp.translator[0].surname}} {{cmp.translator[0].name}}{% endif %}</td>
                  <td><a href="/genre/info?genre_id={{cmp.genre[0].id}}">{{cmp.genre[0].name}}</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>

      </div>


</div>

{% include "footer.html" %}
