
{% include "header.html" %}

<div class="container">

      <div class="row">
        <!-- Меню -->
        <div class="col-lg-4 border" >
            <ul class="list-group">
              <li class="list-group-item">Категории</li>
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Худ. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Тех. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Детская</a></li>
                  <li class="list-group-item"><a href="#">Учебники</a></li>
                </ul>
              </ul>
          </div>

          <!-- Результат -->
          <div class="col-lg-8">
            <div class="row well">
              <div class="col-lg-4">Добавить</div>
              <div class="col-lg-2">
                <a class="btn btn-default" role="button" href="/add_book">Add</a>
              </div>
            </div>
            <div class="row table-responsive">
              <table class="table table-bordered">
                <tr>
                  <td>№</td>
                  <td>Название</td>
                  <td>Год</td>
                  <td>Издатель</td>
                </tr>
                {% for book in books %}
                <tr>
                  <td></td>
                  <td>{{ book['bname']}}</td>
                  <td>book['byear']</td>
                  <td>book['pname']</td>
                </tr>
                {% endfor %}

              </table>
            </div>

          </div>

      </div>


</div>

{% include "footer.html" %}
