
{% include "header.html" %}

<div class="tab-content">

      <div class="row">
        <!-- Меню -->
        <div class="col-sm-4 border" >
          <div class="container">
            <ul class="list-group">
              <li class="list-group-item">Категории</li>
                <ul class="list-group">
                  <li class="list-group-item"><a href="#">Худ. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Тех. лит-ра</a></li>
                  <li class="list-group-item"><a href="#">Детская</a></li>
                  <li class="list-group-item"><a href="#">Учебники</a></li>
                </ul>
              </ul>
            </div>
          </div>

          <!-- Результат -->
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4 border">Добавить</div>
              <div class="col-sm-2 border">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
              </div>
            </div>
          </div>

        <div class="row">

        </div>
      </div>


</div>

{% include "footer.html" %}
