
{% include "header.html" %}

<div class="tab-content">


<div id="books" class="tab-pane active" role="tabpanel" aria-labelledby="books-tab">
  <div class="row">
    <div class="col-sm-4 border border-top-0 border-botom-0 border-right-0 border-primary">
      Название
    </div>
    <div class="col-sm-4 border border-top-0 border-botom-0 border-right-0 border-primary">Автор</div>
    <div class="col-sm-1 border border-top-0 border-botom-0 border-right-0 border-primary">Год изд.</div>
    <div class="col-sm-3 border border-top-0 border-botom-0 border-primary">Издатель</div>
  </div>
</div>

</div>

{% include "footer.html" %}
