<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Title of the document</title>
</head>

<body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
  <!-- big header -->
  <div class="jumbotron">
    <h1>Header for library</h1>
  </div>

  <!-- Navigation panel -->
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="/" >Home</a>
          </li>
          <li class="nav-item">
            <a href="/books">Books</a>
          </li>
          <li class="nav-item">
            <a href="/cpu">CPU</a>
          </li>
          <li class="nav-item">
            <a href="/consoles">Consoles</a>
          </li>
        </ul>
    </div>
  </nav>
