<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<title>Title of the document</title>
</head>

<body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<div class="container">
  <!-- big header -->
  <div class="jumbotron">
    <h1>Header for library</h1>
  </div>

  <!-- Navigation panel -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">My collections</a>
      </div>
      -->


        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="books-tab" data-toggle="tab" href="/books" role="tab" aria-controls="books" aria-selected="false">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cpu-tab" data-toggle="tab" href="/cpu" role="tab" aria-controls="cpu" aria-selected="false">CPU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="consoles-tab" data-toggle="tab" href="/consoles" role="tab" aria-controls="consoles" aria-selected="false">Consoles</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

  </nav>

